{% extends 'PaperTrail_App/base.html' %}

{% block title %}
  Login
{% endblock %}
{% block side_bar %}

{% endblock %}

{% block body %}
  <div class="d-flex position-relative" style="height: 88vh;">
    <div class="col-12 col-lg-7 d-flex justify-content-center align-items-center">
      <div class="col-11 rounded border bg-white p-5 rounded-2">
        <div class="h2 mb-4 text-body">Welcome back to PaperTrail 👋</div>
        <div>
          <form action="{% url 'PaperTrail_App:user_login' %}" method="post">
            {% csrf_token %}
            <div class="input-div">
              <label for="{{ login_form.username.id_for_label }}" class="input-label my-1 text-body">{{ login_form.username.label }}</label>
              {{ login_form.username }}
            </div>
            <div class="input-div mt-1">
              <label for="{{ login_form.password.id_for_label }}" class="input-label my-1 text-body">{{ login_form.password.label }}</label>
              {{ login_form.password }}
            </div>
            {% if messages %}
              <div class="alert alert-warning col-sm-12 col-md-10 my-3" style="font-size: 0.8rem;" role="alert">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </div>
            {% endif %}
            <div class="d-flex flex-column align-items-center col-sm-12 col-md-10 my-3">
              <button class="rounded-pill btn btn-dark col-12 mb-1">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-flex col-lg-5">
      <script type="module" src="https://unpkg.com/@splinetool/viewer@1.1.3/build/spline-viewer.js"></script>
      <spline-viewer hint loading-anim-type="spinner-small-dark" url="https://prod.spline.design/Fn55CSQLsF9z0qV4/scene.splinecode"></spline-viewer>
    </div>

    <div class="position-absolute bg-body-tertiary d-flex justify-content-center align-items-center rounded-pill p-2" style="height: 3rem; font-size: 0.9rem; bottom: 5rem; top: 90%; left: 50%; transform: translate(-50%, -50%); width: 100%;">
      <div class="text-secondary mx-3">New to PaperTrail? Join our platform now!</div>
      <a href="{% url 'PaperTrail_App:user_signup' %}">
        <button class="btn btn-outline-dark rounded-pill" style="font-size: 0.9rem;">Sign Up</button>
      </a>
    </div>
  </div>
{% endblock %}
