{% extends 'PaperTrail_App/base.html' %}
{% load static %}

{% block title %}
  Upload Docs
{% endblock %}

{% block extra_headers %}
  <link rel="stylesheet" href="{% static 'css/Upload.css' %}" />
{% endblock %}

{% block body %}
  <div class="border rounded-3 col-12 bg-white p-5" style="height: max-content;">
    <div class="h3">Upload Files</div>

    <form action="{% url 'PaperTrail_App:upload_docs' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="bg-dark-subtle up-div rounded-3 mt-3 d-flex flex-column justify-content-center align-items-center" id="upload-trigger">
        <div class="file-upload d-flex flex-column justify-content-center align-items-center">
          <i class="bi bi-box2-fill" style="font-size: 3rem;"></i>
          <div class="lead">Click here to upload your doc!</div>
          {{ doc_form.document }}
          <span>{{ doc_form.document.help_text }}</span>
        </div>
      </div>
      <div class="d-flex flex-column">
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success mt-3" style="font-size: 0.8rem;" role="alert">{{ message }}</div>
            {% else %}
              <div class="alert alert-warning mt-3" style="font-size: 0.8rem;" role="alert">{{ message }}</div>
              <ul>
                {% for field, error_list in doc_form.errors.items %}
                  {% for error in error_list %}
                    <li>{{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-dark mt-3">Upload</button>
      </div>
    </form>
    <div class="alert alert-light my-3">
      <div class="fw-semibold">Note</div>
      <div class="">File of type DOCX will get converted into PDF.</div>
    </div>
  </div>
{% endblock %}
