{% extends 'PaperTrail_App/base.html' %}
{% load static %}
{% block extra_headers %}
  <!-- Annotorious CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.css" />
  <!-- Annotorious JS -->
  <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.js"></script>
  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'css/view_img.css' %}" />
  <!-- Page JS -->
  <script src="{% static 'js/view_img.js' %}"></script>
{% endblock %}
{% block side_bar %}

{% endblock %}
{% block body %}
  <div class="display">
    <div class="details">
      <div class="lead">
        <u>Document Details</u>
      </div>
      <em class="titles">Document:</em>
      <span class="titledetail">{{ document }}</span>
      <em class="titles">Document URL:</em>
      <span class="titledetail">{{ document.doc.url }}</span>
      <em class="titles">Document Name:</em>
      <span class="titledetail">{{ document.doc_name }}</span>
      <em class="titles">Document created:</em>
      <span class="titledetail">{{ document.created }}</span>
      <em class="titles">Document type:</em>
      <span class="titledetail">{{ document.doc_type }}</span>
    </div>

    <div class="pic">
      <img id="document" data-did="{{document.pk}}" src="{{ document.doc.url }}" class="img-thumbnail" alt="image" />
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const doc_id = '{{ document.pk }}'
      loadAnnotations(doc_id)
    })
    
    function fun1(purpose, annotation) {
      console.log(purpose)
      console.log(annotation)
    }
  </script>
{% endblock %}
