{% extends 'PaperTrail_App/base.html' %}
{% load static %}
{% block extra_headers %}
  <!-- Annotorious CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.css" />
  <!-- Annotorious JS -->
  <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.js"></script>
  <!-- PDF.js JS -->
  <script type="module" src="{% static 'pdf.js/pdf.mjs' %}"></script>
  <script type="module" src="{% static 'pdf.js/pdf.worker.mjs' %}"></script>

  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'css/view_file.css' %}" />
  <!-- Page JS -->
  {% comment %} <script src="{% static 'js/view_img.js' %}"></script> {% endcomment %}
{% endblock %}
{% block side_bar %}

{% endblock %}
{% block body %}
  <div class="d-flex justify-content-end col">
    <div class="info-offcanvas-btn">
      <div data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        <i class="bi bi-info-lg"></i>
      </div>
    </div>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title ms-2" id="offcanvasScrollingLabel">Document Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="mb-3 p-3">
          <div class="lead">Shared Now</div>
          <div class="mt-3">
            <form action="#">
              <div class="mb-3">
                <input type="text" class="form-control focus-ring focus-ring-dark" id="exampleInputEmail1" />
                <button type="submit" class="btn btn-dark mt-2 col-12">Share</button>
              </div>
            </form>
          </div>
        </div>
        <div class="mb-3 p-3 border bg-light rounded">
          <div class="lead">Shared With</div>
          <div class="mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
            </ul>
          </div>
        </div>
        <div class="details p-3 border bg-light rounded">
          <div class="lead">Document Details</div>
          <div class="d-flex flex-column mt-3">
            <div class="mt-1">
              <span class="fw-semibold">Document Name:</span>
              <span class="">{{ document.doc_name }}</span>
            </div>
            <div class="mt-1">
              <span class="fw-semibold">Document created:</span>
              <span class="">{{ document.created }}</span>
            </div>
            <div class="mt-1">
              <span class="fw-semibold">Document type:</span>
              <span class="">{{ document.doc_type }}</span>
            </div>
            <div class="mt-1">
              <span class="fw-semibold">Owner:</span>
              <span class="">{{ document.owner_id }}</span>
            </div>
            <div class="mt-1">
              <span class="fw-semibold">Shared with :</span>
              <span class="">{{ document.owner_id }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display col">
    <div id="pdf-div" class="d-flex flex-column justify-content-center align-items-center bg-light col-12 col-md-11 col-lg-10 mx-auto" style="height: max-content;" data-did="{{ document.pk }}"></div>
  </div>
  <script type="module">
    import { AnnotationWidget } from "{% static 'js/annotationWidget.js' %}"
    import { fetchAnnotations, createAnnotation, updateAnnotation, deleteAnnotation } from "{% static 'js/pdfAnnotations.js' %}"
    
    document.addEventListener('DOMContentLoaded', async () => {
      var { pdfjsLib } = globalThis
      // The workerSrc property shall be specified.
      pdfjsLib.GlobalWorkerOptions.workerSrc = "{% static 'pdf.js/pdf.worker.mjs' %}"
      initiateRetrieving()
    })
    async function initiateRetrieving() {
      const docID = '{{ document.pk}}'
      const url = '{{ document.doc.url }}'
    
      try {
        const annotations = await fetchAnnotations(docID)
    
        // Fetch PDF and render each page
        const pdf = await pdfjsLib.getDocument(url).promise
        console.log('PDF loaded')
    
        for (let pageNumber = 1; pageNumber <= pdf.numPages; pageNumber++) {
          const page = await pdf.getPage(pageNumber)
          console.log('Page ' + pageNumber + ' loaded')
    
          // Render the PDF page onto the canvas
          const viewport = page.getViewport({ scale: 1 })
          const canvas = document.createElement('canvas')
          const context = canvas.getContext('2d')
          canvas.height = viewport.height
          canvas.width = viewport.width
    
          const renderContext = {
            canvasContext: context,
            viewport: viewport
          }
    
          await page.render(renderContext).promise
          console.log('Page ' + pageNumber + ' rendered')
    
          // Convert canvas to image
          const img = new Image()
          img.src = canvas.toDataURL()
          img.className = 'border rounded my-1'
          img.style.width = 'inherit'
          img.style.height = 'auto'
          img.dataset['pgno'] = pageNumber
    
          // Append the image to the parent div
          const parentDiv = document.getElementById('pdf-div')
          parentDiv.appendChild(img)
    
          // Render annotations for this page
          const pageAnnotations = annotations.filter((annotations) => annotations.page_number === pageNumber)
          renderAnnotations(pageAnnotations, img)
        }
      } catch (error) {
        console.error(error)
      }
    }
    
    function renderAnnotations(annotations, img) {
      // Initialize Annotorious after each image is loaded
      const anno = Annotorious.init({
        image: img,
        widgets: [{ widget: AnnotationWidget, force: 'PlainJS' }]
      })
    
      anno.on('createAnnotation', function (annotation) {
        createAnnotation(annotation, pageNumber)
      })
    
      anno.on('updateAnnotation', function (annotation, previous) {
        updateAnnotation(annotation, previous)
      })
    
      anno.on('deleteAnnotation', function (annotation) {
        deleteAnnotation(annotation)
      })
    
      // Render each annotation
      annotations.forEach((annotation) => {
        let anno_element = {
          '@context': 'http://www.w3.org/ns/anno.jsonld',
          type: 'Annotation',
          body: [
            {
              type: 'TextualBody',
              purpose: 'annotate',
              value: annotation.body_value
            }
          ],
          target: {
            selector: {
              type: 'FragmentSelector',
              conformsTo: 'http://www.w3.org/TR/media-frags/',
              value: annotation.target_selector_value
            }
          },
          id: annotation.id
        }
    
        anno.addAnnotation(anno_element)
      })
    }
  </script>
{% endblock %}
