{% extends 'PaperTrail_App/base.html' %}
{% load static %}
{% block extra_headers %}
  <!-- Annotorious CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.css" />
  <!-- Annotorious JS -->
  <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.js"></script>
  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'css/view_img.css' %}" />
  <!-- Page JS -->
  <script src="{% static 'js/view_img.js' %}"></script>
{% endblock %}
{% block side_bar %}

{% endblock %}
{% block body %}
  <div class="display col">
    {% comment %} <div class="details">
      <div class="lead" style="font-size: 1.25rem; font-weight: 400;">
        <b>Document Details</b>
      </div>
      <span class="titles"><b>Document Name:</b></span>
      <span class="titledetail">{{ document.doc_name }}</span>
      <span class="titles"><b>Document created:</b></span>
      <span class="titledetail">{{ document.created }}</span>
      <span class="titles"><b>Document type:</b></span>
      <span class="titledetail">{{ document.doc_type }}</span>
      <span class="titles"><b>Owner:</b></span>
      <span class="titledetail">{{ document.owner_id }}</span>
    </div> {% endcomment %}
    <div class="pic">
      <img id="document" data-did="{{ document.pk }}" src="{{ document.doc.url }}" class="img-thumbnail" alt="image" />
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const doc_id = '{{ document.pk }}'
      loadAnnotations(doc_id)
    })
  </script>
{% endblock %}
