{% extends 'PaperTrail_App/base.html' %}
{% load static %}
{% block extra_headers %}
  <!-- Annotorious CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.css" />
  <!-- Annotorious JS -->
  <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.12/dist/annotorious.min.js"></script>
  <!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'css/view_file.css' %}" />
{% endblock %}
{% block side_bar %}

{% endblock %}
{% block body %}
  <div class="display justify-content-center align-items-cneter col my-5">
    <div class="">
      <img id="document" data-did="{{ document.pk }}" src="{{ document.doc.url }}" class="img-thumbnail" alt="image" />
    </div>
  </div>
  <script type="module">
    import { AnnotationWidget } from "{% static 'js/annotationWidget.js' %}"
    import { loadAnnotations } from "{% static 'js/imgAnnotations.js' %}"
  
    document.addEventListener('DOMContentLoaded', () => {
      const doc_id = '{{ document.pk }}'
      loadAnnotations(doc_id)
    })
  </script>
{% endblock %}
