.display {
    display: flex;
    flex-direction: row;
}

/* div {
    border: 1px solid black;
} */

.details {
    padding: 1rem 1rem;
    width: 25%;
    display: inherit;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    height: 35rem;
    border-right: 1px solid #DEE2E6;
}

.pic {
    width: 75%;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.titles {
    margin-top: 2rem;
}

.titledetails {
    margin-bottom: 1rem;
}